{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "globals": {
        "document": true,
        "GM_deleteValue": true,
        "GM_getValue": true,
        "GM_log": true,
        "GM_notification": true,
        "GM_openInTab": true,
        "GM_setValue": true,
        "window": true
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreComments": true,
                "ignorePattern": "\\s*<",
                "ignoreStrings": true
            }
        ],
        "no-console": [
            "error",
            {
                "allow": [ "error", "info", "warn" ]
            }
        ],
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ]
    }
}
